.article {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.background_div{
    width: 100%;
    height : 105vh;
   
   background-image: url('./../../../src/images/background.png');
   background-repeat: no-repeat;
}

.span_text{
    color:rgb(255, 255, 255);
    font-size: 7.5rem;
    
}
@media screen and (max-width: 992px) {
    .span_text {
        font-size: 3.5rem;
    }
}


.Red_Span{
    
    color:#FF3E89;
}
.Green_Span{
    color:#FF3E89
}

.left_text{
    text-align: right;
    margin-bottom: 0px;
}
.center{
    text-align: center;
}





